<a href="https://colab.research.google.com/github/IT21038396/IT21038396/blob/master/IT21038396_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
import tensorflow as tf
from tensorflow import keras

In [2]:
import pandas as pd
import numpy as np

In [34]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [46]:

import pandas as pd

df =pd.read_csv("drive/My Drive/Market_data_set.csv")
df.head(20)

,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,Product_SK,PRODUCTCODE,Customer_SK,COUNTRY,DEALSIZE
0,30,95.70,2,2871.00,Shipped,1,2,2003,Motorcycles,95,1,S10_1678,1,USA,Small
1,34,81.35,5,2765.90,Shipped,2,5,2003,Motorcycles,95,2,S10_1678,2,France,Small
2,41,94.74,2,3884.34,Shipped,3,7,2003,Motorcycles,95,3,S10_1678,3,France,Medium
3,45,83.26,6,3746.70,Shipped,3,8,2003,Motorcycles,95,4,S10_1678,4,USA,Medium
4,49,100.00,14,5205.27,Shipped,4,10,2003,Motorcycles,95,5,S10_1678,5,USA,Medium
5,36,96.66,1,3479.76,Shipped,4,10,2003,Motorcycles,95,6,S10_1678,6,USA,Medium
6,29,86.13,9,2497.77,Shipped,4,11,2003,Motorcycles,95,7,S10_1678,7,France,Small
7,48,100.00,1,5512.32,Shipped,4,11,2003,Motorcycles,95,8,S10_1678,8,Norway,Medium
8,22,98.57,2,2168.54,Shipped,4,12,2003,Motorcycles,95,9,S10_1678,9,USA,Small
9,41,100.00,14,4708.44,Shipped,1,1,2004,Motorcycles,95,10,S10_1678,10,France,Medium
10,37,100.00,1,3965.66,Shipped,1,2,2004,Motorcycles,95,11,S10_1678,11,Australia,Medium
11,23,100.00,7,2333.12,Shipped,2,4,2004,Motorcycles,95,12,S10_1678,12,USA,Small
12,28,100.00,2,3188.64,Shipped,2,5,2004,Motorcycles,95,13,S10_1678,13,USA,Medium
13,34,100.00,2,3676.76,Shipped,2,6,2004,Motorcycles,95,14,S10_1678,14,USA,Medium
14,45,92.83,1,4177.35,Shipped,3,7,2004,Motorcycles,95,15,S10_1678,15,France,Medium
15,36,100.00,6,4099.68,Shipped,3,8,2004,Motorcycles,95,16,S10_1678,16,USA,Medium
16,23,100.00,9,2597.39,Shipped,3,9,2004,Motorcycles,95,17,S10_1678,17,Finland,Small
17,41,100.00,5,4394.38,Shipped,4,10,2004,Motorcycles,95,18,S10_1678,18,Norway,Medium
18,46,94.74,1,4358.04,Shipped,4,11,2004,Motorcycles,95,19,S10_1678,19,USA,Medium
19,42,100.00,1,4396.14,Shipped,4,11,2004,Motorcycles,95,20,S10_1678,20,USA,Medium

In [39]:
df_len = len(df)
df_len

2823

In [41]:
training_set = df_len * 0.8
testing_set = df_len - training_set

In [45]:
training_set

2258.4

In [51]:
for col in df.columns:
    if df[col].dtypes == 'object' and df[col].isna().any() == True:
        print(col)

In [52]:
col

'DEALSIZE'

In [53]:
print(df.describe())

       QUANTITYORDERED    PRICEEACH  ORDERLINENUMBER         SALES  \
count      2823.000000  2823.000000      2823.000000   2823.000000
mean         35.092809    83.658544         6.466171   3553.889072
std           9.741443    20.174277         4.225841   1841.865106
min           6.000000    26.880000         1.000000    482.130000
25%          27.000000    68.860000         3.000000   2203.430000
50%          35.000000    95.700000         6.000000   3184.800000
75%          43.000000   100.000000         9.000000   4508.000000
max          97.000000   100.000000        18.000000  14082.800000

            QTR_ID     MONTH_ID     YEAR_ID         MSRP  Product_SK  \
count  2823.000000  2823.000000  2823.00000  2823.000000  2823.00000
mean      2.717676     7.092455  2003.81509   100.715551  1412.00000
std       1.203878     3.656633     0.69967    40.187912   815.07423
min       1.000000     1.000000  2003.00000    33.000000     1.00000
25%       2.000000     4.000000  2003.00000    68.000000   706.50000
50%       3.000000     8.000000  2004.00000    99.000000  1412.00000
75%       4.000000    11.000000  2004.00000   124.000000  2117.50000
max       4.000000    12.000000  2005.00000   214.000000  2823.00000

       Customer_SK
count   2823.00000
mean    1412.00000
std      815.07423
min        1.00000
25%      706.50000
50%     1412.00000
75%     2117.50000
max     2823.00000

In [54]:
df.shape

(2823, 15)

In [55]:
# creating a copy
data_copy1 = df.copy()
# drop rows with missing values
data_copy1 = data_copy1.dropna(axis=0)

In [56]:
data_copy1.shape

(2823, 15)

In [48]:
train, val, test = np.split(df.sample(frac=1), [int(0.8*len(df)), int(0.9*len(df))])

In [49]:
print(len(train), 'training examples')
print(len(val), 'validation examples')
print(len(test), 'test examples')

2258 training examples
282 validation examples
283 test examples

In [61]:
model = tf.keras.models.sequential([


    tf.keras.layers.Dense(8, input_dim=4, activation='relu'),
    tf.keras.layers.Dense(3, activation='softmax')



])

AttributeError: ignored

In [57]:
model.compile(
    loss='categorical_crossentropy',
    optimizer='adam',
    metrics=['accuracy']

)

NameError: ignored

In [62]:
batch_size = 50
train_ds = df(train, batch_size=batch_size)
val_ds = df(val, shuffle=False, batch_size=batch_size)
test_ds = df(test, shuffle=False, batch_size=batch_size)

TypeError: ignored